<%= render 'books/list', book: @book %> <!-- 部分テンプレートのURLが競合しない用に'books/list'に変更して、を呼び出すときに空の変数を用意して代入する --> 
    <div class="col-md-8 offset-md-1"> 
      <h2>Users</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>  <!-- resources の記述では、名前付きルートと違いURLとメソッドは指定しない -->
          <tr>
            <td><%= image_tag current_user.get_profile_image(100,100) %></td> 
            <td><%= user.name %></td>
            <td><%= link_to user_path(current_user.id), style: 'color: #007bff; padding: 0;' do %>
                  show
                <% end %>
            </td>
          </tr> 
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>